/* src/components/Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #f9f9f9; /* Background color */
}

h1 {
    font-size: 2.5rem; /* Increase heading size */
    color: #4d0808; /* Heading color */
}

.buttons {
    margin-top: 2rem; /* Space above buttons */
    display: flex; /* Display buttons in a row */
    gap: 1em; /* Space between buttons */
}

.button {
    padding: 0.7rem 1.5rem; /* Button padding */
    font-size: 1rem; /* Button font size */
    color: white; /* Text color */
    background-color: #4d0808; /* Button background color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
}

.button:hover {
    background-color: #593030; /* Button hover color */
}

.getStartedButton {
    font-size: 1.2rem; /* Larger font size for Get Started button */
    padding: 1rem 2rem; /* Padding for larger button */
}
